<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EGGO</title>
    <link rel="apple-touch-icon" href="{{logo_eggo_blue}}"/>
    <link rel="shortcut icon" sizes="128x128" href="{{logo_eggo_blue}}">
  </head>

  <body>

	<form method='post'>
		<input type='text' name='login' placeholder='Login'/>
		<input type='password' name='password' placeholder='Password'/>
		<button type='submit' name='validate'>Connexion</button>
	</form>

  </body>
</html>
